/* font-family: "SansusWebissimoRegular"; */
@font-face {
    font-family: "SansusWebissimoRegular";
    src: url("../Sansus-Webissimo-Regular.eot");
    //src: url("../Sansus-Webissimo-Regular.eot?#iefix")format("embedded-opentype"),
    //url("../fonts/Sansus-Webissimo-Regular.woff") format("woff"),
    //url("../fonts/Sansus-Webissimo-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "SansusWebissimoItalic"; */
@font-face {
    font-family: "SansusWebissimoItalic";
    src: url("../fonts/SansusWebissimoItalic.eot");
    //src: url("../fonts/SansusWebissimoItalic.eot?#iefix")format("embedded-opentype"),
    //url("../fontsSansusWebissimoItalic.woff") format("woff"),
    //url("../fonts/SansusWebissimoItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "RobotoRegular"; */
@font-face {
    font-family: "RobotoRegular";
    src: url("../fonts/Roboto-Regular.eot");
    //src: url("../fonts/Roboto-Regular.eot?#iefix")format("embedded-opentype"),
    //url("../fonts/Roboto-Regular.woff") format("woff"),
    //url("../fonts/Roboto-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "RobotoLight"; */
@font-face {
    font-family: "RobotoLight";
    src: url("../fonts/Roboto-Light.eot");
    //src: url("../fonts/Roboto-Light.eot?#iefix")format("embedded-opentype"),
    //url("../fonts/Roboto-Light.woff") format("woff"),
    //url("../fonts/Roboto-Light.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "RobotoMedium"; */
@font-face {
    font-family: "RobotoMedium";
    src: url("../fonts/Roboto-Medium.eot");
    //src: url("../fonts/Roboto-Medium.eot?#iefix")format("embedded-opentype"),
    //url("../fonts/Roboto-Medium.woff") format("woff"),
    //url("../fonts/Roboto-Medium.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "RobotoBold"; */
@font-face {
    font-family: "RobotoBold";
    src: url("../fonts/Roboto-Bold.eot");
    //src: url("../fonts/Roboto-Bold.eot?#iefix")format("embedded-opentype"),
    //url("../fonts/Roboto-Bold.woff") format("woff"),
    //url("../fonts/Roboto-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "BERNIERRegular"; */
@font-face {
    font-family: "BERNIERRegular";
    src: url("../fonts/BERNIERRegular-Regular.otf");
    //src: url("../fonts/BERNIERRegular-Regular.otf?#iefix")format("embedded-opentype"),
    //url("../fonts/BERNIERRegular-Regular.woff") format("woff"),
    //url("../fonts/BERNIERRegular-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}