footer.footer-common
	.footer-common__wrap-top
			.footer-common__menu
				ul.footer-common__menu-nav
					li.footer-common__menu-item
						a.footer-common__menu-link(href="work.html") Мои работы
					li.footer-common__menu-item
						a.footer-common__menu-link(href="about.html") Обо мне
					li.footer-common__menu-item
						a.footer-common__menu-link(href="blog.html") Блог
					li.footer-common__menu-item
						a.footer-common__menu-link(href="#") Авторизация
			.footer-common__soc
				ul.footer-common__soc-list
					li.footer-common__soc-item
						a.footer-common__soc-link(href="http://vk.com/" target="_blank")
							svg.icon.vk.fc__colors-icons
								use(xlink:href='assets/icons/sprite.svg#vk_round')
					li.footer-common__soc-item
						a.footer-common__soc-link(href="http://vk.com/" target="_blank")
							svg.icon.github.fc__colors-icons
								use(xlink:href='assets/icons/sprite.svg#github_round')
					li.footer-common__soc-item
						a.footer-common__soc-link(href="http://vk.com/" target="_blank")
							svg.icon.in.fc__colors-icons
								use(xlink:href='assets/icons/sprite.svg#in_round')
	.footer-common__wrap-bottom
		.footer-common__info-for-city Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool.
		.footer-common__info-for-me © Соковиков Денис Создано с любовью в LoftSchool | 2016