doctype html
html(lang="ru-RU" data-livestyle-extension="available")
    head
    meta(charset='utf-8')
    title LS_v2
    meta(content='' name='author')
    meta(content='' name='description')
    meta(content='' name='keywords')
    meta(content='width=device-width, initial-scale=1' name='viewport')
    meta(content='ie=edge' http-equiv='x-ua-compatible')
      //- favicon block start
    link(rel="icon" type="image/png" href="desert_favicon.ico" )
    link(rel='stylesheet' href='/assets/css/foundation.css')
    link(rel='stylesheet' href='/assets/css/app.css')
      //-js
    script(src='/assets/js/foundation.js' defer)
    script(src='/assets/js/app.js' defer)
      //-google-карты
    //script(src="https://maps.googleapis.com/maps/api/js" defer)