footer.footer-common{
    height: 145px;
    width: 100%;
    background: rgba(#777A6D, 1);
}

.footer-common__container{
    max-width: 1800px;
    margin: 0 auto;
    padding: 30px 0 0 0 ;
    
}

.footer-common__wrap-top{
    margin-bottom: 20px;
    bottom-border:1px solid rgba(#575d60, 1);
    &:after{
        content: "";
        display: table;
        clear: both;
    }
}


.footer-common__menu{
    float: left;
    margin-left: 30px;
    padding-top: 30px;
}

.footer-common__menu-nav{
    margin: 0;
    list-style: none;
}

.footer-common__menu-item{
    display: inline-block;
    margin-right: 20px;
}

.footer-common__menu-link{
    text-decoration: none;
    color:$color_link;
    opacity: .8;
    padding-right: 10px;
    cursor: pointer;
    &:hover{
        opacity: 1;
    }
}

.footer-common__soc{
    float: right;
    margin-right: 25px;
    padding-top: 30px;
}

.footer-common__soc-list{
	margin: 0;
	padding: 0;
	list-style: none;
}

.footer-common__soc-item{
	margin-right: 25px;
    display: inline-block;
	opacity: .5;
    &:hover{
        opacity: 1;  
    }
    &:last-child{
        margin-right: 0; 
    }
}

.fc__colors-icons{
    fill:rgba( $color_link,.5);
    &:hover{
        fill:rgba( $color_link,1);
    }
}

.footer-common__wrap-bottom{
    border-top:1px solid rgba(#b1b3b4, 1);
    &:before{
    content: "";
    display: table;
    clear: both;
    }
}    


.footer-common__info-for-city{
    float: left;
    font: 400 16px/16px "RobotoLight";
    color:#b1b3b4;
    padding-top: 30px;
}

.footer-common__info-for-me{
    float: right;
    font: 400 16px/16px "RobotoLight";
    color:#b1b3b4;
    padding-top: 30px;
}

//===============media

@media (max-width: 1199px){
   footer.footer_common{
    min-height: 230px;
   } 

  .footer_container{
      padding: 20px;
  }

 .block_1{   
    float: none;
    width: 90%;
    text-align: center;
    border-bottom: 1px solid rgba(#fff, 0.2);
    border-right: none;
    padding-bottom: 10px;
  }

  .common_footer_class.block_2{
      width: 60%;
      border: none;
      float:left;
      margin: 0;
      text-align: left;
      padding: 15px 0 0 0;
  }

    .common_footer_class.block_3{
      width: 100%;
      border: none;
      float:right;
      margin: 0;
      text-align: right;
      padding: 15px 0 0 0;
  }


}


@media (max-width: 768px){
  footer.footer_common{
    min-height: 350px;
    margin: 0;
    padding: 0;
   } 

.footer_container{
  margin: 0;
  padding-bottom: 0;
}



 .common_footer_class.block_2{
   width: 100%;
   float: none;
   text-align:center;
   border-bottom: 1px solid rgba(#fff, 0.2);
    border-right: none;
    padding-bottom: 10px;
 }

.common_footer_class.block_3{
   width: 100% !important;
   float: none !important;
   text-align:center !important;
   margin: 0 auto !important;
   
 }
  
}

@media (max-width: 320px){
footer.footer_common{
  min-height: 386px;
  margin: 0;
  padding: 0;
   } 
}



