extends ../common/_layout
block bg_header
	svg.icon.common-style__header
		use(xlink:href='assets/icons/sprite.svg#blog_header')
block content
	main.blog-content
		aside.blog-content__sidebar
			ul.blog-content__sidebar-list
				li.blog-content__sidebar-item Самое важное в SASS
				li.blog-content__sidebar-item Приемы в верстке, без которых не обходится не один сайт
				li.blog-content__sidebar-item Самый необходимый набор GULP плагинов
				li.blog-content__sidebar-item Почему я выбрал JADE
		.blog-content__post-wrapper

			section.blog-content__post
				.blog-content__post-title самое важное в sass
				.blog-content__post-data 13 февраля 2017
				.blog-content__post-text
					.blog-content__post-p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
					.blog-content__post-p Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
				.blog-content__post-code
					img(src="assets/img/code_1.jpg", alt="code_1.jpg")

			section.blog-content__post
				.blog-content__post-title самое важное в sass
				.blog-content__post-data 13 февраля 2017
				.blog-content__post-text
					.blog-content__post-p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
					.blog-content__post-p Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
				.blog-content__post-code
					img(src="assets/img/code_1.jpg", alt="code_1.jpg")

			section.blog-content__post
				.blog-content__post-title самое важное в sass
				.blog-content__post-data 13 февраля 2017
				.blog-content__post-text
					.blog-content__post-p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
					.blog-content__post-p Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
				.blog-content__post-code
					img(src="assets/img/code_1.jpg", alt="code_1.jpg")